html, body {
  width: 250px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

.output {
	margin: 3% auto;
	padding: 4px;
	text-align:center;
	font-size: 1em;
	cursor: pointer;
}

.error_message {
	margin: 3% auto;
	padding: 7px;
	text-align:center;
	font-size: 1em;
	text-decoration: none;
	-moz-user-select: none;
	cursor: pointer;
	background-color: #e5f2f2;
}

.outputpan {
	background-color: #e5f2f2;
}

.hint {
  background-color: #E5F2F2;
}

.generatebtn {
  background-color: #fbfbc9
}

.generatebtn:hover {
  background-color: #EAEA9D;
}

.copybtn {
  background-color: #FBFBC9;
}

.copybtn:hover {
  background-color: #EAEA9D;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}
